{{ "{% extends '"}}{{ bundle }}{{"::layout.html.twig' %}" }}

{{ "{% block contenido -%}" }}
<div class="panel-heading">
  <h4>
      <i class="fa fa-edit" ></i>    Editar {{ document }}
 </h4>
</div>
<hr/>
<form action="{{ "{{ path('"~ route_name_prefix ~"_update', { 'id': document.id }) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }}>
    {{ "{{ form_widget(edit_form) }}" }}
    <p>
        <button type="submit" class="btn btn-default">
            <i class="fa fa-edit" ></i>Guardar Cambios</button>
    </p>
</form>

{% set hide_edit, hide_delete = true, false %}
{% include 'views/others/record_actions.html.twig' %}
{{ "{% endblock %}" }}