{{ "{% extends '"}}{{ bundle }}{{"::layout.html.twig' %}" }}
{{ "{% block stylesheets %}" }}
{{ " {{ parent() }} " }}

{{ "{% endblock %}" }}

{{ "{% block javascripts %}" }}
{{ " {{ parent() }} " }}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({animation: true});
        });
        
         $(function () {
            $(".btn-mod").click(function (ev) {
                ev.preventDefault();
                var target = $(this).attr("href");
                $("#modalPlantilla .modal-content").load(target, function () {
                    $("#modalPlantilla").modal("show");
                });
            });
        });
        
    </script>
{{ "{% endblock %}" }}
{{ "{% block contenido %}" }}
<div class="panel-heading">
  <h4> 
  <i class="fa fa-list"></i>  Listado de {{ document }}
 </h4>
</div>
<hr/>
{% if 'new' in actions %}
<ul>
    <li>
        <a href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}" class="btn btn-default">
                <i class="fa fa-plus"></i>
            Agregar Nuevo {{ document }}
        </a>
    </li>
</ul>
<hr/>
{% endif %}
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
        {%- for field, metadata in fields %}

            {%- if loop.first and ('show' in actions) %}

            {%- else %}
                <th>{{ field|capitalize }}</th>
            {%- endif %}

        {%- endfor %}

            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {{ '{% for document in documents %}' }}
        <tr>

    {%- for field, metadata in fields %}

        {%- if loop.first and ('show' in actions) %}

        {%- else %}
            {%- if metadata.type in ['date', 'datetime'] %}
                <td>{{ '{% if document.' ~ field|replace({'_': ''}) ~ ' %}{{ document.' ~ field|replace({'_': ''}) ~ '|date(\'d/m/Y H:i\') }}{% endif %}' }}</td>
            {%- else %}
                <td>{{ '{{ document.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>
            {%- endif %}
        {%- endif %}

        {%- if loop.last %}

            <td>
                {%- include "views/others/actions.html.twig" %}
            </td>

        {%- endif %}
    {%- endfor %}

        </tr>
    {{ '{% endfor %}' }}
    </tbody>
</table>
<div class="modal fade bs-example-modal-lg" id="modalPlantilla" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>

{{ "{% endblock %}" }}