{{ "{% extends '"}}{{ bundle }}{{"::layout.html.twig' %}" }}

{{ "{% block stylesheets %}" }}
{{ " {{ parent() }} " }}

{{ "{% endblock %}" }}

{{ "{% block javascripts %}" }}
{{ " {{ parent() }} " }}
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({animation: true});
    });
</script>
{{ "{% endblock %}" }}
{{ "{% block contenido -%}" }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <i class="fa fa-plus"></i> Crear nuevo/a {{ document }}
        </h4>
    </div>
</div>
<hr/>
    {{ "{{ form(form) }}" }}
<hr/>
{% set hide_edit, hide_delete = true, true %}
{% include 'views/others/record_actions.html.twig' %}
{{ "{% endblock %}" }}
