<div class="modal-body">
    <div class="panel-heading">
        <h4>
            <i class="fa fa-eye"></i> Datos de {{ document }}
        </h4>
    </div>
    <hr/>
    <table class="table table-condensed table-responsive table-striped">
        <tbody>
        {%- for field, metadata in fields %}

            <tr>
                <th>{{ field|capitalize }}</th>

                {%- if metadata.type in ['date', 'datetime'] %}

                    <td>{{ '{{ document.'~ field|replace({'_': ''}) ~'|date(\'d-m-Y H:i\') }}' }}</td>

                {%- else %}

                    <td>{{ '{{ document.'~ field|replace({'_': ''}) ~' }}' }}</td>

                {%- endif %}

            </tr>

        {%- endfor %}

        </tbody>
    </table>
</div>
<hr>

<div class="modal-footer">
    <button type="button" id="btnCerrar" class="btn btn-default glyphicon glyphicon-remove" data-dismiss="modal">
        Cerrar
    </button>
</div>