
    /**
     * Crea a documento nuevo de tipo {{ document }}.
     *
{% if 'annotation' == format %}
     * @Route("/create", name="{{ route_name_prefix }}_create")
     * @Method("POST")
     * @Template("{{ bundle }}:{{ controller_namespace ? controller_namespace|replace({"\\": "/"}) ~ '/' : '' }}{{ document }}:new.html.twig")
     *
     * @param Request $request
     *
     * @return array
{% else %}
     * @param Request $request
     *
     * @return \Symfony\Component\HttpFoundation\Response
{% endif %}
     */
    public function createAction(Request $request)
    {
        $document = new {{ document_class }}();
        $form     = $this->createForm(new {{ document_class }}Type(), $document);
        $form = $this->createForm(new {{ document_class }}Type(),$document, array(
            'action' => $this->generateUrl('{{ route_name_prefix }}_create'),
            'method' => 'POST',
        ));

        $form->add('submit', 'submit', array(   
                'attr'=> array(
                         'class'=>'btn btn-default glyphicon glyphicon-floppy-save',
                         'data-toggle' => 'tooltip',
                         'data-placement'=> 'top',
                         'title'=> 'Grabar Nuevo',
                          ),
                  'label'=>' ')
                  );
        $form->handleRequest($request);

        if ($form->isValid()) {
            try{
                $dm = $this->getDocumentManager();
                $dm->persist($document);
                $dm->flush();
                $this->get('session')->getFlashBag()->add(
                        'notice', 'La carga se realizó correctamente!');
                return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
            } catch (\Doctrine\ODM\MongoDB\MongoDBException $DBalEx) {
                     $this->get('session')->getFlashBag()->add(
                                    'error', 'Se ha producido un error en la base de datos!!. '
                             . $DBalEx->getMessage() );
            } catch (\Exception $ex) {
                 $this->get('session')->getFlashBag()->add(
                                'error', 'Se ha producido un error no determinado!. '.$ex->getMessage());

            }
        }

{% if 'annotation' == format %}
        return array(
            'document' => $document,
            'form'     => $form->createView()
        );
{% else %}
        return $this->render('{{ bundle }}:{{ document|replace({'\\': '/'}) }}:new.html.twig', array(
            'document' => $document,
            'form'     => $form->createView()
        ));
{% endif %}
    }
