
    /**
     * Muestra un formulario para crear un documento de tipo {{ document }} .
     *
{% if 'annotation' == format %}
     * @Route("/new", name="{{ route_name_prefix }}_new")
     * @Template()
     *
     * @return array
{% else %}
     * @return \Symfony\Component\HttpFoundation\Response
{% endif %}
     */
    public function newAction()
    {
        $document = new {{ document_class }}();
        $form = $this->createForm(new {{ document_class }}Type(), $document);
        
        $form = $this->createForm(new {{ document_class }}Type(),$document, array(
            'action' => $this->generateUrl('{{ route_name_prefix }}_create'),
            'method' => 'POST',
        ));

        $form->add('submit', 'submit', array(   
                'attr'=> array(
                         'class'=>'btn btn-default glyphicon glyphicon-floppy-save',
                         'data-toggle' => 'tooltip',
                         'data-placement'=> 'top',
                         'title'=> 'Grabar Nuevo',
                          ),
                  'label'=>' ')
                  );
        
        

{% if 'annotation' == format %}
        return array(
            'document' => $document,
            'form'     => $form->createView()
        );
{% else %}
        return $this->render('{{ bundle }}:{{ document|replace({'\\': '/'}) }}:new.html.twig', array(
            'document' => $document,
            'form'     => $form->createView()
        ));
{% endif %}
    }
