
                <ul>

                {%- for action in record_actions %}

                    <li style="display: inline;">
                        <a href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': document.id }) }}" }}"


                            {% if action=='show' %}
                                class="btn btn-default  btn-mod"
                                data-toggle="tooltip" data-placement="top"  title="Click para Ver Datos" data-animation="true" >
                                <i class="fa fa-eye" ></i>
                            {%else%}
                                class="btn btn-default"
                                data-toggle="tooltip" data-placement="top"  title="Click para Editar Datos" data-animation="true" >
                                <i class="fa fa-edit" ></i>
                            {%endif%}
                        </a>
                    </li>

                {%- endfor %}

                </ul>
