<ul class="record_actions">
    <li>
        <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" class="btn btn-default">
            <i class="fa fa-arrow-left"></i>
            Volver
        </a>
    </li>
{% if ('edit' in actions) and (not hide_edit) %}
    <li>
        <a href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': document.id }) }}" }}" class="btn btn-default" >
            <i class="fa fa-edit" ></i>
            Editar
        </a>
    </li>
{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
    <li>
        <form action="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': document.id }) }}" }}" method="post">
            {{ '{{ form_widget(delete_form) }}' }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
{% endif %}
</ul>
